:root {
  --green: #005238;
  --tan: #f9f3ca;
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;}

/*main flex*/
  .main-box {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  margin: 0;
  }
  .site-header {
  font-size: 30px
  }
  .col-1 {
    background-color: var(--tan);
    flex: 0 0 12em;
  }
  .col-2 {
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    flex: 6;
    z-index: -3;
    flex-flow: column wrap;
    overflow: hidden;

  }
  /*responsible flex, moves left column 
  to the top in smaller screens*/
/*  @media (max-width: 800px) {
  .main-box {
    flex-direction: row;
  }*/

/*small flex*/
   .small-box {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  margin: 0;
  }
  .col-1-small {
    /*background: red;*/
    width: 60%;
    padding: 30px 0px 30px 0px;
  }
  .col-2-small {
    /*background: yellow;*/
    width: 40%;
    position: relative;

  }


/* The actual timeline (the vertical ruler) */
.timeline {
  position: absolute;
  top: 20%;
  max-width: 50%;
  margin: 0 auto;
  font-family: title;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: grey;
  top: 0;
  bottom: 0;
  left: 40px;
}

/* Container around content */
.container {
  padding: 40px 40px 10px 10px;
  position: relative;
  background-color: inherit;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -40%;
  background-color: var(--tan);
  border: 4px solid #9f4250;
  top: 40px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: 25px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  position: relative;
  border-radius: 6px;
  left: -100px;
}

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }



/* Make all right containers behave like the left ones */
  .right {
    top:10%;
    left: 0%;
  }
}

/*images*/
img{
  max-width: 50%;
  margin: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
}
.containerdiv {
  border: 0;
  top: 30px;
  float: left;
  position: relative;
} 
.mainImage{
    max-height: 90%;
    max-width: 90%;
}
.cornerimageWater {
    border: 0;
    max-height: 80%;
    position: absolute;
    top: 60%;
    right: -70%;
    transform: rotate(330deg);
 } 
.cornerimage {
  border: 0;
  max-height: 30%;
  position: absolute;
  top: 30%;
  right: 65%;
 } 


/*font*/
.timelineFont{
  font-family: bodyRegular;
  font-size: 20px;
  color: var(--green);
}
.quotes{
  font-family: bodyRegular;
  margin: 20px 100px 20px 100px;
  font-size: 20px;
  color: #f9f3ca;
}

.main-header{
  font-size: 400%;
  font-family: title;
  text-align: center;
  color: #f9f3ca;
}

hr{
  border: 1px dashed #f9f3ca;
  width: 80%;
}

@font-face {
  font-family: bodyRegular;
  src: url(ShipporiMincho-Regular.ttf);
}
@font-face {
  font-family: title;
  src: url(ShipporiMincho-Medium.ttf);
}

/*animation*/
#yin-yang {
  height:500px;
  /*animation: spinYin 5s;*/
  bottom: 0px;
  max-width: 100%;
}

@keyframes spinYin {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}


.revealText{
  background-color: var(--green);
  color: var(--tan);
  border: none;
  background: none;
  font-size: 20px;
  font-family: bodyRegular;

}

.revealText: hover {
  color: rgba(0,0,0,0);

}
.fillrect {
  border: 1px solid #3fff00;
  padding: 0 10px;
  z-index: 1;
  transition: all 0.5s ease;
}

.fillrect:hover {
  background-color: #3fff00 !important;
  cursor: pointer;
}

