@font-face {
  font-family: workSans;
  src: url(Work_Sans/WorkSans-VariableFont_wght.ttf);
}

body {
  font-family: workSans;
}



.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  top: 3%;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 2vw;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.my-spin {
  transform-box: fill-box;
  animation: spin 2s linear infinite;
  transform-origin:50% 50%;
  display: inline-block;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% {  transform: rotate(359deg); }
}
.main {
  margin-left: 25%; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.homepage {
  margin-left: 20%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: -99999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /*width: 100%;*/
  height: 100vh;
  background-color: #92f7b5;
}

.centeredImage{
  margin-left: 20%;
}

.css-1kmh77e {
    display: grid;
    margin-left: 20%;
    gap: 2rem 2vw;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    margin-bottom: 0px;
}

.introHeader {
    width: 80vw;
    margin-top: -32px;
    margin-bottom: 9.5vw;
    margin-left: 4vw;
    color: #000;
    font-size: 3vw;
    /* line-height: 90%; */
    font-weight: 200px;
    letter-spacing: 10px;
        margin-right: 4vw;
}

.introText{
    margin-top: 10vw;
    margin-bottom: 1vw;
    border-style: none;
    border-width: 1px;
    border-color: #c4c4c4;
    letter-spacing: 1px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20%;
}

/* Create four equal columns */
.column {
  flex: 40%;
  padding: 10px;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .column {
    flex: 50%;
  }
}

 /*On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}

.quote {
  font-family: workSans;
  font-size: 40px;
  font-weight: bold;
}
p {
  font-size: 30px;
}

h2 {
  font-weight: bold;
  font-size: 30px;
}

hr {
  border-top: 5px;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.exImage{
  width: 250px;
  animation:bounce 5s linear infinite alternate;

}

.exImage1{
  width: 250px;
  animation:bounce 8s linear infinite alternate;

}

.exImage2{
  width: 250px;
  animation:bounce 3s linear infinite ;

}

.exImage3{
  width: 250px;
  animation:bounce 5s linear infinite alternate-reverse;

}

.exImage4{
  width: 250px;
  animation:bounce 6s linear infinite alternate;

}
.exImage5{
  width: 250px;
  animation:bounce 3s linear infinite reverse;

}

.bounce{
  animation:bounce 4s linear infinite ;
  }
 @keyframes bounce{
    0%{
      transform:translate(-100px,0px);
     
      }
    25%{
       transform:translate(200px,200px);
      
      }
    50%{
       transform:translate(400px,0px);  
      /*background:green;*/
      }
     75%{
       transform:translate(300px,0px);
        

       }
   100%{
      transform:translate(-100px,0px);
      
      }   
   }
.exImage:hover {

  /*animation: shake 0.5s;
  animation-iteration-count: infinite;*/
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

