@font-face {
  font-family: Cormorant;
  src: url(Cormorant-Regular.woff);
}

@font-face {
  font-family: Cormorant Bold;
  src: url(Cormorant-Bold.woff);
}

@font-face {
  font-family: Kalam Regular;
  src: url(Kalam-Regular.ttf);
}

@font-face {
  font-family: Kalam Bold;
  src: url(Kalam-Bold.ttf);
}

body{
	background-color:white;
	font-family: Kalam Regular;
	color: white;
	background-color: #404040;
	float: left;
}

.wrapper{
	margin-right: 100px;
	margin-left: 300px;
	padding: 20px;
	text-align: left;
}

/* text styles */
	h1{
		font-size: 5vw;
		margin-bottom: 20px;
		text-align: center;
		position: sticky;
  		top: 0;
  		background-color: #404040;
  		margin: 0px;
  		padding: 0px;
	}

	h2{
		margin-top: 40px;
		margin-bottom: 0px;
		float: right;
		font-size: 20px;
		writing-mode: vertical-rl;
		text-orientation: upright;
	}

	h3{
		font-size: 1.3em;
		margin-top: 10px;
		margin-bottom: 10px;
		text-align: center;
	}

	h4{
		margin-top: 5px;
	}

	p{
		margin: 0;
	 	padding: 0; 
	}

hr{
	width: 80%;
	background-color: #383838;
	text-align: left;

}

ul {
    text-align: left;
    list-style-position: inside;
}


.ingredients{
	float: left;
	font-family: ]Kalam Bold;
}
.facts{
	float right;
	text-align: right;
}

 .sidebar {
    width: 200px;
  	position: fixed;
  	z-index: 1;
  	top: 125px;
  	left: 50px;
  	overflow-x: hidden;
  	padding: 4px 0;
 }

 .content {
     z-index: 1;
     width: 100%;
 }

img {
	width: 100%;
    padding: 0px;
    text-align: center;
}

.column1 {
  float: left;
  width: 95%;
}
.column2 {
  float: right;
  width: 5%;
}
.defaulth2{
	display: block;
    font-size: 20px;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-align: center;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
